.footer__menu-link {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    color: #fff;
}

@media screen and (max-width: 720px) {
    .footer__menu-link {
        font-size: 24px;
        line-height: 1;
    }
}