.places__item-paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #fff;
    margin: 0;
    grid-area: paragraph;
    max-width: 484px;
}

@media screen and (max-width: 768px) {
    .places__item-paragraph {
        font-size: 16px;
        max-width: 352px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .places__item-paragraph {
        font-size: 16px;
        max-width: 288px;
        margin: 0 auto;
    }
}