.places__place-title {
    font-weight: 900;
    font-size: 72px;
    font-style: normal;
    line-height: 1;
    color: #fff;
    max-width: 97%;
    grid-area: title;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1023px) {
    .places__title {
        font-size: 42px;
        line-height: 1.1;
        max-width: 98%;
    }
}

@media screen and (max-width: 767px) {
    .places__title {
        padding-left: 16px;
        font-size: 32px;
        line-height: 1.1;
    }
}