.cover__subtitle {
    font-size: 18px;
    line-height: 1.2;
    font-style: normal;
    font-weight: 400;
    z-index: 2;
    color: #fff;
    max-width: 360px;
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        max-width: 288px;
        line-height: 1.15;
        margin-bottom: 33px;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        margin-top: 16px;
    }
}